body {
  text-align: center;
  font-family: helvetica;
}

p {
  font-size: 14px;
}

header, footer, .white {
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.headerclass {
  font-size: 18px;
}

#footerclass {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}

.pictureback {
  background-image: url("../images/the-flatiron-building.png");
  /*background-repeat: no-repeat; */
  background-position: center;
}
